html,body {
    height: 100%;
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

}
.holder{
    margin: 0;
    display: flex;
    padding: 0;
    max-width: 600px;
    
}
.container{
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    align-self: center;
    align-items: center;
    justify-content: center;
    max-height: 600px;
    width: 600px; 
}
.grid{
    padding: 1px;
    border:1px solid  black;
    box-sizing: border-box;
}
